.box-shadow(@x: 0; @y: 0; @blur: 1px; @color: #000) {
  	-webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}

.smooth-animation(@duration: 0.4s) {
	-moz-transition: ease-in-out @duration;
	-webkit-transition: ease-in-out @duration;
	transition: ease-in-out @duration;
}

.rotate(@how: 0deg) {
	-ms-transform: rotate(@how); /* IE 9 */
    -webkit-transform: rotate(@how); /* Chrome, Safari, Opera */
    transform: rotate(@how);
    -o-transform: rotate(@how);
}

.scale(@how) {
	transform: scale(@how);
	-webkit-transform: scale(@how); 
	-moz-transform: scale(@how);
	-o-transform: scale(@how);
}

.opacity (@opacity) {
    @opacityPercentage: @opacity * 100;
    opacity: @opacity;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=(@{opacityPercentage}))"; 
    filter: ~"alpha(opacity = (@{opacityPercentage}))";
}

article, section {
	display: block;
}

.main-area {
	.box-shadow(3px, 3px, 3px, rgba(0,0,0,0.3));
}

.footer {
	text-align: right;
}

.col-login {
	text-align: center;
}

.panel-heading {
	font-weight: bold;
}

.bottom-tables {
	margin-top: 15px;
}

.alert {
	text-align: center;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

@keyframes anim1-1 {
    from { .rotate(-30deg); }
    to { .rotate(0deg); }
}

@keyframes anim1-2 {
    from { .rotate(30deg); }
    to { .rotate(0deg); }
}

@keyframes anim2 {
    0% { transform: translateY(200px); }
    25% { transform: translateY(0px); }
    60% { transform: scale(1, 0.6); }
    100% { transform: scale(1, 1); }
}

@keyframes anim3 {
    0% { .scale(3); }
    100% { .scale(1); }
}

@keyframes fade1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animation1-1 {
	animation-duration: 0.5s;
	animation-name: anim1-1;
}

.animation1-2 {
	animation-duration: 0.5s;
	animation-name: anim1-2;
}

.animation2 {
	animation-duration: 1s;
	animation-name: anim2;
}

.animation3 {
	animation-duration: 0.5s;
	animation-name: anim3;
}

.fade {
	animation-duration: 0.5s;
	animation-name: fade1;
}

.alert {
	animation-name: fade;
	animation-duration: 0.5s;
}