<div class="row">
	<div class="col-md-6">
		Logged as <b>{{ game.activePlayer.nickname }}</b>
	</div>
	<div class="col-md-6">
    <div class="btn-group pull-right" role="group">
		  <button type="button" class="btn btn-default" ng-click="game.logout()" >Logout <span class="glyphicon glyphicon-log-out"></span></button>
		  <button type="button" class="btn btn-default" ng-click="game.newGame()" ng-disabled="game.gameActive || (!game.gameActive && game.onlinePlayers.length < 2)">New game <span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>
</div>
<div class="row" ng-hide="game.onlinePlayers.length < 2">
	<div class="col-md-6">
		<div ng-include="'images/hangman.svg'"></div>
	</div>
	<div class="col-md-6">
		<h3>Word to guess:</h3>
		<div ng-include="'images/word.svg'"></div>
		<h3>Used letters:</h3>
		<div ng-include="'images/letters.svg'"></div>
	</div>
</div>
<div class="row" ng-show="game.onlinePlayers.length < 2">
	<div class="col-md-12" style="text-align: center;">
		<br><h3>Waiting for somebody else!</h3><br>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info animate" role="alert" ng-show="game.message != ''">{{ game.message }}</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="input-group input-group-lg">
			      <input type="text" maxlength="{{ game.wordToGuess.length }}" class="form-control" ng-model="game.userInput" style="text-transform: uppercase;" ng-disabled="game.turn != game.activePlayer.id|| !game.gameActive" placeholder="{{game.turn == game.activePlayer.id ? 'Type here!' : 'Wait for your turn!'}}" />
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit" ng-click="game.tryInput()" ng-disabled="game.turn != game.activePlayer.id || !game.gameActive">Try!</button>
			      </span>
	    </div>
	</div>
</div>
<div class="row bottom-tables">
	<div class="col-md-6">
		<div class="panel panel-info">
	  	<div class="panel-heading">Best players ever</div>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nickname</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in game.bestPlayers | orderBy: '-points' | limitTo: 10" ng-class="{'active': game.turn == player.id}">
						<td>{{ $index + 1 }}</td>
						<td>{{ player.nickname }}</td>
						<td>{{ player.points }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
	  	<div class="panel-heading">Players online</div>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nickname</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in game.onlinePlayers" ng-class="{'active': game.turn == player.id}">
						<td>{{ $index + 1 }}</td>
						<td>{{ player.nickname }} <span class="glyphicon glyphicon-play" ng-show="game.turn == player.id"></span></td>
						<td>{{ player.points }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div>
	<span ng-show="{{ game.gameActive }}">gra aktywna</span>
</div>
