<div class="row">
	<div class="col-md-12 col-login">
	  <form class="form-inline" ng-submit="login.signIn()">
	  <div class="form-group">
	    <label for="nickname">Nickname</label>
	    <input type="text" ng-model="login.nickname" class="form-control" id="nickname" placeholder="JSNinja">
	  </div>
	  <button type="submit" class="btn btn-default">Login <span class="glyphicon glyphicon-log-in"></span></button>
		</form>
	</div>
</div>